{% extends 'base.html.twig' %}

{% block title 'Agence Lorem Ipsum' %}

{% block body %}
	<div class="bg-light txt-center p-5">
		<h1>Agence Lorem Ipsum</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloremque doloribus autem, voluptas eligendi nobis ratione nisi ex? Fugit ipsa iusto eligendi velit explicabo voluptatum provident dolor, et ad delectus!</p>
	</div>

	<div class="container">
		<h2>Les derniers biens</h2>
		<div class="row flex">
			{% for property in properties %}
				<div class="col-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path('property_show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
							</h5>
							<p class="card-text">{{ property.city }}
								({{ property.postalCode }})</p>
							<div class="text-primary" style="font-weight: bold;font-size: 2rem;">{{ property.formattedPrice }}
								€</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
