<div class="card mb-4" style="height: 30rem">
	{% if property.filename %}
	<img class="" src="{{ property.filename }}" alt="card-img-top">
	{% endif %}
	<div class="d-flex flex-column justify-content-center card-body">
		<h5 class="card-title">
			<a href="{{ path('property_show', {slug: property.slug, id: property.id}) }}">{{ property.title }}</a>
		</h5>
		<p class="card-text">{{ property.description }}</p>
		<p class="card-text">{{ property.city }}
			({{ property.postalCode }})</p>
		<div class="text-primary" style="font-size:2rem; font-weight:bold;">
			{{ property.formattedPrice }}
			€
		</div>
	</div>
</div>
