{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
	<div class="container mt-4 text-center">
		<h1 class="mb-5">Tous nos biens</h1>
		<form class="form-search mb-4" action="{{ path('property_index') }}" method="POST">
			<div class="form-floating mb-3">
				<input id="userRooms" type="number" min="1" value="{{ user_rooms }}" name="userRooms" class="form-control" placeholder="Nb de pièces">
				<label for="userRooms">Nombre de pièce maximum</label>
			</div>
			<div class="form-floating mb-3">
				<input type="number" min="1" value="{{ user_price }}" name="userPrice" class="form-control" placeholder="Prix max">
				<label for="userPrice">Prix maximum</label>
			</div>
			<div class="input-group mb-3">
				<label class="mb-1" for="userOptions">Ajouter une option...</label>
				<select id="userOptions" name="userOptions" class="w-100 form-select" multiple>
					<option selected value="">Pas d'option</option>
					{% for option in option_list %}
					<option value="{{ option.id }}">{{ option.name }}</option>
					{% endfor %}
				</select>
			</div>
			<input type="hidden" name="_token" value="{{ csrf_token('search')}}">
			<button class="btn btn-primary">Rechercher</button>
		</form>
		{% if properties|length %}
			<div class="row">
				{% for property in properties %}
					<div class="col-md-4">
						{% include 'property/_property.html.twig' %}
					</div>
				{% endfor %}
			</div>
			<div class="d-flex justify-content-center pagination">
				{{ knp_pagination_render(properties) }}
			</div>
		{% else %}
			<div class="alert alert-warning">Aucun résultat ne corresponds à votre recherche.</div>
		{% endif %}
	</div>
{% endblock %}
