<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
		{{ encore_entry_link_tags('app') }}
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
		</head>
		<body>
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{ path('home') }}">Mon Agence</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}" aria-current="page" href="{{ path('property_index') }}">Nos biens</a>
							</li>
						</ul>
						<ul class="navbar-nav">
							{% if is_granted('ROLE_ADMIN') %}
								<li class="nav-item">
									<a href="{{ path('admin') }}" class="nav-link">Administration</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
			{% block body %}{% endblock %}
		</body>
		{% block script %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</html>
